<section>
  <!-- <div class="row m-0">
    <mat-card-content class="card-content col-2">
      <h5
        class="card-title"
        [ngClass]="{ 'mb-0': hiddenFilters }"
        [matTooltip]="hiddenFilters ? 'Show filters' : 'Hide filters'"
        (click)="handleHideFilters()"
      >
        <mat-icon>filter_list</mat-icon>
        Filtrar Itens
      </h5>
    </mat-card-content>
    <app-search-form *ngIf="!hiddenFilters"></app-search-form>
  </div> -->
  <app-search-form [itemsData]="initialTableData" (emitAutocompleteValue)="handleAutocompletValue($event)" (emitFiltersValue)="handleFiltersValue($event)"></app-search-form>
  <app-items-table [tableData]="filteredTableData"></app-items-table>
</section>
