<section>
  <form [formGroup]="form" class="row">
    <mat-form-field class="col-3" matTooltip="Item code">
      <mat-label>Item code</mat-label>
      <input matInput placeholder="Item code" formControlName="itemCode" type="number">
    </mat-form-field>
    <mat-form-field class="col-3" matTooltip="Item name">
      <mat-label>Item name</mat-label>
      <input matInput placeholder="Item name" formControlName="itemName" type="text">
    </mat-form-field>
    <mat-form-field class="col-3" matTooltip="Item type">
      <mat-label>Item type</mat-label>
      <mat-select formControlName="itemType">
        @for (itemType of itemTypes; track itemType) {
          <mat-option [value]="itemType.id">{{itemType.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="col-3 btn-container">
      <button mat-flat-button class="search-btn" matTooltip="Search">Search</button>
    </div>
  </form>
</section>